
:root {
    --bg-gray: #e9ecef;
}

body {
    padding: 0;
    margin: 0;

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: min(calc(0.7rem + 1vw), 1rem);
}

h1, h2, h3, h4, h5, h6 {
    margin: 12px 0;
    padding: 0;

    font-weight: 300;
}

h1 {
    font-size: min(calc(1rem + 1.7vw), 2.2rem);
}

h2 {
    font-size: min(calc(1rem + 1.17vw), 1.7rem);
    margin-bottom: 16px;
}

button {
    all: unset;

    user-select: none;

    &.btn-gray {
        background-color: var(--bg-gray);
    }
}

nav {    
    display: grid;
    grid-template-columns: min-content auto min-content;

    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.18);
    height: 34px;
    padding: 8px 16px;

    & .nav-button {
        height: min-content;
        padding: 8px 16px;

        & img {
            width: 16px;
        }
    }

    & .toolbar {
        grid-column: 3;

        & .profile {
            &, & img {
                aspect-ratio: 1 / 1;
                border-radius: 100%;
            }
        }
    }
}

main {
    padding: 8px 16px;

    & p {
        text-align: center;
    }

    & .nav-path {
        display: flex;
        flex-wrap: wrap;
        column-gap: .5rem;
        row-gap: 12px;

        border: 2px solid var(--bg-gray);
        padding: 12px 8px;

        margin: 20px 0;

        & > :not(:first-child)::before {
            display: inline-block;
            content: "/";
            padding-right: .5rem;
            color: black;
        }
    }

    & .lg-table {
        display: grid;
        grid-template: auto auto / auto auto;

        margin-bottom: 40px;

        & .header {
            padding: 16px 12px;
            border-top: 1px solid var(--bg-gray);
            border-bottom: 2px solid var(--bg-gray);

            font-weight: 700;
        }

        & .content {
            padding: 16px 12px;

            background-color: rgba(0,0,0,.03);
        }
    }
}

footer {
    position: static;
    bottom: 0;
    margin-top: 300px;
    padding: 14px 20px;
    background-color: #343a40;
    color: white;

    & a {
        color: white;
    }
}